body {
  min-height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fb;
}
.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.sidebar a {
  color: #000;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  transition: all 0.2s ease;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #4895ef;
  color: #fff; /* teks putih saat hover atau active */
  border-radius: 5px;
}
.sidebar .nav-link i {
  margin-right: 10px;
}
.main {
  margin-left: 250px;
  padding: 2rem;
}

/* Navbar active link */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link.active:hover {
  background-color: transparent;
  color: #fff !important;
  border-radius: 0;
  font-weight: 600;
  position: relative;
}
.navbar-nav .nav-link.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  border-bottom: 3px solid #fff;
  border-radius: 2px;
  position: absolute;
  left: 20%;
  bottom: 2px;
}

/* Navbar hover effect */
.navbar-nav .nav-link:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff !important;
  border-radius: 0.5rem;
  transition: background 0.2s, color 0.2s;
}
/* -- Penyesuaian Tinggi Select2 agar Sama dengan Input Bootstrap -- */


